APScheduler
beautifulsoup4
bs4
certifi
lxml
chardet
idna
langdetect
nltk
pyTelegramBotAPI
pytz
requests
six
transliterate
tzlocal
urllib3
beautifulsoup4
pyTelegramBotAPI
requests
suds
ydb
# -e git://github.com/aerkalov/ebooklib.git@master#egg=EbookLib
ebooklib
